footer {
display: flex;
padding: 4em 4em 0 4em;
font-size: 1.5em;
justify-content: space-around;
background-color: #0b1523;
align-items: center;

  .footer-menu {
    font-size: 1.25em;
    line-height: 2em;

    a {
      text-decoration: none;
      color: white;
      opacity: .8;
    }
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;

  .footer-bottom p {
    font-size: 1em;

    @media @phone {
      font-size: .5em;
    }
  }
}
