// Intro
.hero-home {
  background-color: #1c2431;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-position: bottom;

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 680px;
    margin: auto;
    text-align: center;

    h1 {

      line-height: 1.5em;
      margin-bottom: 1.5em;
      font-size: 2em;
      opacity: 0.8;
    }

    button {
      width: 15em;
      height: 5em;
      background-color: #65e2d9;
      background-image: linear-gradient(to right, #65e2d9, #339ecc);
      border-radius: 30px;
      font-size: 1em;

      @media @phone {
        margin-left: 0;
      }

      a {
        font-size: 1.5em;
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media @phone {
  .hero-home {
    background-image: url("../images/bg-curvy-mobile.svg");
  }
}

// Features
.features-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 10em auto;

  .feature-wrapper {
    flex-basis: 45%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;

    p {
      width: 100%;
      max-width: 350px;
      text-align: center;
      opacity: 0.8;
    }
  }
}

@media @phone {
  .features-home {
    flex-direction: column;
  }
}

// Message
.message-home {
  display: flex;
  padding: 0 8vw 7vh;
  width: 100%;
  justify-content: space-between;

  .message-wrapper {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;

    img {
      width: 100%;
      max-width: 615px;
    }

    h1 {
      margin-bottom: 0.5em;
      width: 100%;
      max-width: 340px;
    }

    p {
      opacity: 0.8;
    }

    a {
      text-decoration: none;
    }
  }
}

@media @phone {
  .message-home {
    flex-direction: column;
  }
}

// CTA
.cta-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10em 3em;
  background: linear-gradient(to bottom, #181f2a 0%, #181f2a 50%, #0b1523 50%, #0b1523 100%);

  .cta-wrapper {
    background-color: #1c2431;
    padding: 5em 3em;
    width: 100%;
    max-width: 860px;
    box-shadow: 0px 10px 20px 15px rgba(0, 0, 0, 0.1);

    p {
      width: 100%;
      max-width: 620px;
      opacity: 0.8;
      margin: 0 auto 2em;
    }

    button {
      width: 15em;
      height: 5em;
      background-color: #65e2d9;
      background-image: linear-gradient(to right, #65e2d9, #339ecc);
      border-radius: 30px;
      font-size: 1em;

      @media @phone {
        margin-left: 0;
      }

      a {
        font-size: 1.5em;
        color: white;
        text-decoration: none;
      }
    }
  }

  h1 {
    margin-bottom: 2vh;
  }

  input {
    width: 100%;
    min-width: 200px;
    max-width: 480px;
    height: 50px;
    border-radius: 50px;
    margin-right: 2em;
    margin-bottom: 1em;
  }

  .get-started {
    width: 200px;
    height: 50px;
  }
}

@media @phone {
   .get-started {
    width: 100%;
    max-width: 480px;
    margin-right: 2em;
  }
}
